<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keliz Farms</title>
    

    <link rel="stylesheet" href="{% static '/css/all.css' %}">
    <script src="https://kit.fontawesome.com/59b57ab801.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap" rel="stylesheet"> 
    <!--------carousel------------>
    <link rel="stylesheet" href="{% static '/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
</head>
<body>
<!------------Navigation Bar---------------->

<nav class="nav">
    <div class="nav-menu flex-row">
      
       
            <div class="nav-brand">
                <img src="./assets/logo.png" width= 50px  height= 50px alt="">
                <a href="#" class="text-gray">Keliz Farms & Consults</a>
            </div>

            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>  
        
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="#">Home</a>
                </li>
                <li class="nav-link">
                    <a href="#">About Us</a>
                </li>
                <li class="nav-link">
                    <a href="#">Category</a>
                </li>
                <li class="nav-link">
                    <a href="#">Blogs</a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="https://www.facebook.com/adekunmi.adefioye" data-show-text="true" target="_blank" data-width=""><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/kelizfarmsandc?ref_src=twsrc%5Etfw" data-show-count="false"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/kelizfarmsandconsults?igshid=161pb13lqxqmc"><i class="fab fa-instagram"></i></a>
            <a href="mailto:kelizfarmsandconsults@gmail.com"><i class="fas fa-envelope-square"></i></a>
            <a href="tel:+2348130948779"><i class="fas fa-phone-square-alt"></i></a>
           
        </div>
    </div>
</nav>
<hr>

<!-----xx----Navigation Bar---------xxx--------->

<!--------Main site----------------->

<main>
<!------------------>
<section class="site-title">
    <div class="site-background">
        <h3> Lorem ipsum dolor sit amet.</h3>
        <h1>Lorem ipsum dolor sit.</h1>
        <button class="btn">Explore</button>
    </div>
</section>

<section>
    <div class="jumbotron">
        <h1 class="display-4">Our Mission</h1>
        <p class="lead">To become the number 1 agricultural service provider by providing the highest quality breed of livestock's and crop for maximum customer satisfaction</p>
        <hr class="my-4">
        <p> We facilitate staff training, management and planning for both new and existing farms.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>    
</section>

                                <!------blog courosel-->

<section>
    <div class="blog">
        <div class="container">
            <div class="owl-carousel owl-theme blog-post">
                <div class="blog-content">
                    <img src="./assets/farmer.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./assets/img01.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./assets/img12.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./assets/img1.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./assets/img6.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./assets/img3.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./assets/lesson.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./assets/img4.jpg" alt="">
                    <div class="blog-title">
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
                        <button class="btn btn-blog">Farming</button>
                        <span>2 minutes</span>
                    </div>
                </div>
            </div>
            <div class="owl-navigation">
                <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
            </div>
        </div>
    </div>
</section>


    <!---xx--blog couroselxx-->

    <!--Site content-->

    <!--Site content-->

</main>
<!----xx----Main site--------x---------->
<footer class="footer">
    <div class="container">

        <div class="logo-footer">
            <a href="#"><H2>About Us</H2></a>
        </div>

        <div class="location">
            <h2>Address</h2>
            <p>Ayetoro Village, Off Lagos/Ibadan Expressway, Ogun state</p>
        </div>

        <div class="social text-gray">
            <a href="https://www.facebook.com/adekunmi.adefioye" data-show-text="true" target="_blank" data-width=""><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/kelizfarmsandc?ref_src=twsrc%5Etfw" data-show-count="false"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/kelizfarmsandconsults?igshid=161pb13lqxqmc"><i class="fab fa-instagram"></i></a>
            <a href="mailto:kelizfarmsandconsults@gmail.com"><i class="fas fa-envelope-square"></i></a>
            <a href="tel:+2348130948779"><i class="fas fa-phone-square-alt"></i></a>
           
        </div>

        
    </div>
</footer>
<!------------Custom Jquery-------------------->
<script src="{% static '/Javascipt/jquery3.4.1.min.js' %}"></script>

<!------------Carousel js-------------------->

<script src="{% static '/Javascipt/owl.carousel.min.js' %}"></script>
<!------------Javacript-------------------->
<script src=".{% static '/Javascipt/main.js' %}"></script>

</body>
</html>